---
import Head from "../defaults/Head.astro";
---

<Head />
<div class="main-container">
  <div class="header">
    <span class="header-text">Upcoming</span>
    <h2>Events</h2>
  </div>

  <div class="content">
    <img src="/assets/menu_three.jpg" alt="img_three" />
    <div class="sub-content">
      <h2>Wines During Specific Nights</h2>
      <p>
        Donec quis lorem nulla. Nunc eu odio mi. Morbi nec lobortis est. Sed
        fringilla, nunc sed imperdiet lacinia
      </p>

      <div class="countdown-timer">
        <div class="countdown-item">
          <span class="countdown-number">00</span>
          <span class="countdown-text">Days</span>
        </div>
        <div class="countdown-item">
          <span class="countdown-number">00</span>
          <span class="countdown-text">Hours</span>
        </div>
        <div class="countdown-item">
          <span class="countdown-number">00</span>
          <span class="countdown-text">Minutes</span>
        </div>
        <div class="countdown-item">
          <span class="countdown-number">00</span>
          <span class="countdown-text">Seconds</span>
        </div>
      </div>
      <button>View Details</button>
    </div>
  </div>
</div>

<style>
  .main-container {
    position: relative;
    min-height: 860px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("/assets/img_parallax.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .header {
    text-align: center;
    color: #fff;
  }
  .header .header-text {
    color: #ee2020;
    font-size: 30px;
    font-weight: 500;
    font-family: "Courgette", cursive;
  }

  .header h2 {
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    letter-spacing: 6px;
    margin-bottom: 20px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 50px;
  }

  .sub-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    height: 390px;
    width: 585px;
    border-radius: 0px 10px 10px 0px;
  }

  .sub-content h2 {
    padding-top: 60px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    letter-spacing: 3px;
  }

  .sub-content p {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-top: 10px;
  }

  .countdown-timer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .countdown-item {
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 40px;
    align-items: center;
  }

  .countdown-number {
    color: #ee2020;
    font-size: 50px;
    font-weight: 900;
  }

  .countdown-text {
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
  }

  button {
    margin-top: 50px;
    border: none;
    outline: none;
    background: inherit;
  }
  img {
    height: 390px;
    width: 585px;
    border-radius: 10px 0px 0px 10px;
  }
</style>
