---
import Head from "../defaults/Head.astro";
---
<head>
  <link rel="stylesheet" href="/styles/events.css" />
</head>
<Head />
<div class="main-container">
  <div class="header">
    <span class="header-text">Upcoming</span>
    <h2>Events</h2>
  </div>

  <div class="content">
    <img src="/assets/img_three.jpg" alt="img_three" />
    <div class="sub-content"></div>
  </div>
</div>