---
import Head from "../defaults/Head.astro";
import Header from "../defaults/Header.astro";
---

<head>
  <link rel="stylesheet" href="/styles/hero.css" />
</head>
<div class="hero">
  <Head />
  <Header />
  <div class="main-container">
    <div class="control">{"<"}</div>
    <div class="content">
      <div class="subclass">
        <span>Welcome to</span>
        <h2>Pato Place</h2>
        <button>Look Menu</button>
      </div>

      <div class="carousel">
        <div class="carousel-item"></div>
        <div class="carousel-item"></div>
        <div class="carousel-item"></div>
      </div>
    </div>
    <div class="control">{">"}</div>
  </div>
</div>