---
import Head from "../defaults/Head.astro";
import Card from "./Card.astro";
---

<div>
  <Head />
  <div class="parallax">
    <div class="parallax-content">
      <span class="header-text">Discover</span>
      <h2>Our Video</h2>
    </div>
  </div>

  <div class="main-container">
    <h2 class="header-text">Latest News</h2>
    <p class="subtext">The Blog</p>

    <div class="mini-gallery-wrapper">
        <div class="mini-gallery">
          <Card
            imgPath="/assets/blog-01.jpg"
            cardHeader="Best Places for wine"
            cardText="Phasellus lorem enim, luctus ut velit eget, con-vallis egestas eros."
            buttonText="Continue Reading"
          />
    
          <Card
            imgPath="/assets/blog-02.jpg"
            cardHeader="Eggs and Cheese"
            cardText="Aliquam eget aliquam magna, quis posuere risus ac justo ipsum nibh urna"
            buttonText="Continue Reading"
          />
          <Card
            imgPath="/assets/blog-03.jpg"
            cardHeader="Style the wedding party"
            cardText="If you adorn the ligula eget tortor tempor, quis porta tellus dictum."
            buttonText="Continue Reading"
          />
        </div>
      </div>
  </div>
</div>

<style>
  .main-container {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    margin: 0 auto;
  }

  .header-text {
    color: #ee2020;
    font-size: 30px;
    font-weight: 500;
    font-family: "Courgette", cursive;
  }

  .parallax-content h2 {
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    letter-spacing: 16px;
    margin-bottom: 20px;
  }

  .main-container .header-text {
    text-align: center;
  }

  .subtext {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    letter-spacing: 20px;
    margin-bottom: 20px;
  }

  .parallax {
    position: relative;
    min-height: 720px;
    color: #fff;
    z-index: 1;
  }

  .parallax::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("/assets/restaurant.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .parallax-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 720px;
    z-index: 1;
  }

  .mini-gallery-wrapper {
    background: #fff;
  }

  .mini-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 20px;
    width: 75vw;
    margin: 0 auto;
    padding-top: 120px;
  }
</style>
