---
import Head from "../defaults/Head.astro";
import Star from "../svgs/Star.astro"
---

<Head />
<div class="main-container">
  <h2 class="header-text">Customers say</h2>
  <p class="subtext">Review</p>

  <div class="review-container">
    <img src="/assets/avatar.jpg" alt="avatar" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eius ab
      quibusdam in praesentium, atque aliquid mollitia, adipisci suscipit
      nesciunt iste et vel eaque unde corrupti dolor nam deleniti? Neque!
    </p>
    <div class="five-stars">
      <Star />
      <Star />
      <Star />
      <Star />
      <Star />
    </div>
    <div class="footer">
      <span>John Doe</span>
      <span>.</span>
      <span>New York</span>
    </div>
  </div>
</div>

<style>
  .main-container {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 70vw;
    margin: 0 auto;
  }

  .header-text {
    color: #ee2020;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: "Courgette", cursive;
  }

  .subtext {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }

  .review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
  }

  .review-container p {
    text-align: center;
    padding-top: 40px;
    color: #555;
    width: 80%;
    line-height: 25px;
  }

  .five-stars {
    display: flex;
    padding: 10px 0 30px 0;
  }

  .footer span {
    text-transform: uppercase
  }
  img {
    border: 4px solid #ee2020;
    border-radius: 50%;
    width: 10rem;
  }
</style>
