---
import Head from "../defaults/Head.astro";
---

<head>
  <link rel="stylesheet" href="/styles/section-one.css" />
</head>
<Head />
<div class="wrapper">
  <div class="container">
    <div class="content">
      <span class="header-text">Italian Restaurant</span>
      <h2>Welcome</h2>
      <p>
        Donec quis lorem nulla. Nunc eu odio mi. Morbi nec lobortis est. Sed
        fringilla, nunc sed imperdiet lacinia, nisl ante egestas mi, ac
        facilisis ligula sem id neque.
      </p>

      <button>
        <span class="btn-span">Our Story</span>
      </button>
    </div>
    <div class="img-div">
      <img src="/assets/story_img_one.jpg" alt="hero_one" />
    </div>
  </div>

  <div class="parallax">
    <div class="parallax-content">
      <span class="header-text">Discover</span>
      <h2>Pato Place</h2>
    </div>
  </div>

  <div class="mini-gallery-wrapper">
    <div class="mini-gallery">
      <div class="card">
        <div class="img-container">
          <img src="/assets/restaurant.jpg" alt="restaurant" />
        </div>
        <div class="card-content">
          <h2>Romantic Restaurant</h2>
          <p>
            Phasellus lorem enim, luctus ut velit eget, con-vallis egestas eros.
          </p>
          <button>Learn More</button>
        </div>
      </div>
      <div class="card">
        <div class="img-container">
          <img src="/assets/food.jpg" alt="food" />
        </div>
        <div class="card-content">
          <h2>Delicious Food</h2>
          <p>
            Aliquam eget aliquam magna, quis posuere risus ac justo ipsum nibh
            urna
          </p>
          <button>Learn More</button>
        </div>
      </div>
      <div class="card">
        <div class="img-container">
          <img src="/assets/red_wine.jpg" alt="red_wine" />
        </div>
        <div class="card-content">
          <h2>Red wines you love</h2>
          <p>
            If you adorn the ligula eget tortor tempor, quis porta tellus
            dictum.
          </p>
          <button>Learn More</button>
        </div>
      </div>
    </div>
  </div>
</div>